.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}

.testimonial-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.testimonial-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  width: calc((100% - 2rem) / 3);
  margin: 0 0.5rem;
  transition: all 0.3s ease;
}

.testimonial-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.testimonial-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 0.5rem;
  font-size: 1.5rem;
  position: absolute;
}

.testimonial-button:first-child {
  left: 0;
}

.testimonial-button:last-child {
  right: 0;
}

.author {
  display: block;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


@media (max-width: 768px) {
  .testimonial-container {
    flex-direction: column;
  }

  .testimonial-card {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .testimonial-card {
    width: calc((100% - 1rem) / 2);
  }
}

@media (min-width: 1025px) {
  .testimonial-card {
    width: calc((100% - 2rem) / 3);
  }
}

  
  
  