/* Common styles for all screen sizes */
.locationPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  z-index: -2;
}

.map-text {
  margin: 0 50px 0 0;
}

.googleMaps {
  height: 50lvh;
  width: 60lvw;
}

.address {
  margin-bottom: 20px;
  font-weight: bold;
}

.hours {
  text-align: left;
  margin: 0;
  padding: 0;
}

/* Media query for smaller screens (e.g., phones) */
@media screen and (max-width: 768px) {
  .map-frame {
    flex-direction: column;
    text-align: center;
    width: 90%;
  }

  .map-text {
    margin: 20px 0 0 0;
    order: 2;
  }

  .googleMaps {
    height: 400px;
    width: 100%;
  }

  .hours {
    text-align: center;
  }
}
