.apptContent {
    background-color: black;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.apptWrap {
    display: flex;
    flex-direction: row;
    height: 36rem;
}

.photo {
    width: 0%;
    justify-content: center;
}

p {
    margin: 1rem;
    text-align: center;
}

button {
    padding: .5rem; 
    background-color: white;
    border: none;
}

.schdBtn {
    background-color: black;
    color: white;
    font-family: 'DM Sans', sans-serif;
    
    &:hover {
        color: white;
        cursor: pointer;
    }

    .arrowImg {
        width: 14%;
        padding-left: 1rem;

        
    }

}