#root {
  width: 100%;
}

.apptContent {
  background-color: black;
  color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.apptContent h1 {
  padding: 1rem;
  text-align: center;
}

.apptContent p {
  margin: 0;
}

.apptContent button {
  padding-top: 1.5rem;
  font-weight: 600;
}

.apptWrap {
  display: flex;
  justify-content: start;
  height: 39rem;
}

.appt-copy {
  margin: 0;
}

.photo-frame {
  display: flex;
  justify-content: right;
  align-items: center;
}

.blockPhoto {
  flex-grow: 1;
}

p {
  margin: 1rem;
  text-align: center;
}

button {
  padding: 0.5rem;
  background-color: white;
  border: none;
}

.schdBtn {
  background-color: black;
  color: white;
  font-family: "DM Sans", sans-serif;

  &:hover {
    color: white;
    cursor: pointer;
  }

  .arrowImg {
    width: 14%;
    padding-left: 1rem;
  }
}

/*Media Queries*/
@media (min-width: 1600px) {
  .apptWrap {
    height: 38rem;
  }
}

@media (max-width: 1400px) {
  .apptContent {
    width: 80%;
  }

  .apptWrap {
    height: 33rem;
  }

  .blockPhoto {
    width: 80%;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 15px;
  }
}

@media (max-width: 1160px) {
  .apptContent {
    width: 80%;
  }

  .apptWrap {
    height: 30rem;
  }

  .blockPhoto {
    width: 80%;
  }

  h1 {
    font-size: 37px;
  }

  p {
    font-size: 13px;
  }
}

@media (max-width: 1010px) {
  .apptWrap {
    height: 25rem;
  }
}

@media (max-width: 915px) {
  .apptContent {
    width: 80%;
  }

  .apptWrap {
    height: 20rem;
  }

  .blockPhoto {
    width: 80%;
  }

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 650px) {
  .apptWrap {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .apptContent {
    width: 100%;
    padding: 1rem 0;
    order: 2;
  }

  .photo-frame {
    height: 286px;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  .apptWrap img {
    width: 100%;
    order: 1;
    margin: 0;
    object-fit: ;
  }
}

/* 
@media (max-width: 665px) {
  h1 {
    font-size: 13px;
  }

  p {
    font-size: 10px;
  }
}

@media (max-width: 568px) {
  .apptContent {
    width: 80%;
  }

  .apptWrap {
    height: 12rem;
  }

  .blockPhoto {
    width: 80%;
  }

  .apptWrap button {
    padding-top: 0.5rem;
    font-size: 0.625rem;
  }

  .apptContent h1 {
    font-size: 0.8125rem;
    padding: 0;
  }

  .apptContent p {
    font-size: 0.5rem;
    padding: 1rem;
  } */

/* } */
