.mapContent {
    background-color: white;
    color: black;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.mapWrap {
    display: flex;
    flex-direction: row;
    
}

.photo {
    width: 60%;
    justify-content: center;
}

p {
    margin: 2rem;
    text-align: center;
}

.mapBtn {
    padding: .5rem; 
    background-color: black;
    color: white;
    border: none;
}