.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: inherit;
  margin-bottom: 1rem;
}

.social-icons i {
  color: black;
  padding: 1rem 1rem 1.8rem 1rem;
}
